services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      PORT: ${PORT:-3000}
    working_dir: /app
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    restart: unless-stopped