@import "../abstracts-auth/_variable";
@import "../abstracts-auth/_responsive-variables";

.organizer-layout-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background: #ebe7e7b2;

  @media (min-width: $breakpoint-sm) {
    padding-left: 260px; // sidebar width
  }

  .organizer-layout-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    // padding: 2rem;
    width: 100%;
    background: $background-gradient_2;

    overflow: hidden; // prevent overflow

    @media (max-width: $breakpoint-sm) {
      padding-top: 5rem; // space for mobile sidebar
    }

    // Footer always at bottom
    footer {
      margin-top: auto;
    }
  }
}
